@charset "utf-8";
@import url(./normalize.css);
@import url(./fonts.css);
*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Spoqa Han Sans', 'Sans-serif'; 
}
html{
  font-size: 10px;
}
body{
  font-weight: 300;
  font-size: 1.6rem;
  color:#181818;
  background-color: #fff;
  line-height: 1.5;
}
a{
  text-decoration: none;
  color:inherit;
}
/*제목초기화*/
h1, h2, h3, h4, h5, h6{
  font-size: 1em;
  font-weight: 300;
}
fieldset{
  border:0;
  margin: 0;
  padding: 0;
}
/*공통 숨김 콘텐츠*/
legend, .ally-hidden{
  background: pink;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  clip-path: polygon(0 0, 0 0, 0 0);/*잘라내는 효과*/
}
/*공통 스타일 모듈*/
.responsive{
  max-width:100%;
  height: auto;
}
.en-block{
  display: block;
  font-weight: 400;
  font-size: 1.7rem;
}
.ir{
  background:url(./images/sprite_main.png) no-repeat;
  padding-left: 65px;
  min-height: 60px;
}
.ir-book{
  background-position: 0 0;
}
.ir-news{
  background-position: 0 -230px;
}
.ir-board{
  background-position: 0 -115px;
}
.ir-favorite{
  background-position: 0 -345px;
}
.ir-twitter{
  background-position: 0 -460px;
}
.point-color-green{
  color: #abd375;
}
.point-color-yellow{
  color: #e8ca58;
}
.point-color-brown{
  color: #c7b39a;
}
.point-color-skyblue{
  color: #6aaee6;
}
.point-color-orange{
  color: #eea60a;
}
/*All Device*/
.container{
   display: flex;
   flex-flow: row wrap;
}
.header, .navigation, .main, .footer{
  width:100%;
}
/*공통 헤더*/
.header{
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 1em;
}
.logo, .member, .search{
  width: 100%;
}
/*공통 멤버링크*/
.member{
  order:-1;
  margin:0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  padding: 2px 0;
}
.member a{
  display: inline-block;
  padding: 0.5em 0;
}
/*공통 검색*/
.search{
  order:1;
}
input[type="search"], .btn-search{
  vertical-align: top;
}
input[type="search"]{
  border:1px solid #aaa;
  border-radius: 5px;
  padding: 2px 5px;
  height: 3rem;/*고정된크기*/
}
input[type="search"]:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: transparent;
}
input[type="search"]:focus::-moz-placeholder { /* Firefox 19+ */
  color: transparent;
}
input[type="search"]:focus:-ms-input-placeholder { /* IE 10+ */
  color: transparent;
}
input[type="search"]:focus:-moz-placeholder { /* Firefox 18- */
  color: transparent;
}
/*공통 메인*/
.main{
  display:flex;
  flex-flow: row wrap;
}
.book, .news, .board, .favorite, .twitter{
  width:100%;
}
.main [class*="-heading"]{
  /*background: yellow;*/
  font-weight: 700;
  font-size: 1.8rem;
}
/*공통 추천서적*/
.book-cover{
  text-align: center;
}
/*공통 새소식*/

/*공통 게시판*/

/*공통 인기사이트*/

/*공통 트위터*/
.footer{
  background-color: purple;
  height:10vh;
}

/*mobile device*/
@media screen and (max-width:1000px){
  /*모바일 헤더*/
  .header{
    background-color: #38302e;
  }
  .logo, .member, .search{
    padding:0 1.5em;/* 16 * 1.5=24px;*/
  }
  /*모바일 멤버*/
  .member{
    background-color: #988574;
    color:#fff;
  }
  .member a{
    margin-left: 1em;
  }
  .bar{
    display: none;
  }
  /*모바일 로고*/
  .logo{
    margin-top:0.5em;
    margin-bottom: 0.5em;
  }
  /*모바일 검색*/
  .search fieldset{
    font-size: 0;
  }
  input[type="search"]{
    width: calc(100% - 4.5rem);
    font-size: 1.6rem;
  }
  .btn-search{
    width:3rem;
    height:3rem;
    font-size: 1rem;
    padding: 0;
    border:0;
    background: transparent;/*배경없앰*/
    position: relative;
    margin-left: 1.5rem;
  }
  .btn-search::after{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./images/btn_search.png) no-repeat 0 0 / cover;
  }
  /*모바일 내비게이션*/
  .btn-menubar{
    background: transparent;/*투명*/
    width: 3rem;
    height: 3rem;
    border: 0;
    padding: 0;
    position: absolute;
    right: 1.5em;
    top:4em;
    overflow: hidden;/*밖으로 나온 가운데선 사라지게함*/
    cursor: pointer;
  }
  .menubar{
    background-color: #fff;
    width: 100%;
    height: 20%;
    position: absolute;
    left: 0;
    border-radius: 1em;
    transition: all 0.2s;/*x버튼 부드럽게 보일수있도록 부모한테 효과줌*/
  }
  .menubar-top{
    top:0;
  }
  .menubar-middle{
    top:50%;
    transform: translateY(-50%);
  }
  .menubar-bottom{
    top:100%;
    transform: translateY(-100%);
  }
  .nav-act .menubar-top{
    top:50%;
    transform: translateY(-50%) rotate(45deg);
    /*중간내려와서 회전시킨다*/
  }
  .nav-act .menubar-middle{
    transform: translate(-100%,-50%);
  }
  .nav-act .menubar-bottom{
    top:50%;
    transform: translateY(-50%) rotate(-45deg);
    /*중간내려와서 회전시킨다*/
  }
  .menu{
    position: fixed;
    top:0;
    left: 0;
    overflow: hidden;
    width: 0;
    list-style: none;
    transform: translateX(-100%);/*메뉴가 없어지게함*/
    transition: all 0.2s;/*메뉴가 스르륵 펼쳐짐*/
    color:transparent;
  }
  .nav-act .menu{
    padding: 2em 1em;
    color:#fff;
    background-color: rgba(0,0,0,0.85);/*최신버전*/
    margin:0;
    width: 80%;
    height: 100vh;
    padding:0;
    transform: none;
  }
  .menu-list{
    margin:1em 0;
  }
  .menu-item{
    cursor: pointer;
  }
  .sub-menu{
    padding-left: 3em;
    display: none;
  }
  .menu-act .sub-menu{
    display: block;/*하위메뉴가 하나씩보임*/
  }
  .sub-menu li{
    margin:0.5em 0;
  }
}
/*desktop device*/
@media screen and (min-width:1000px){
  .container{
    flex-direction: column;
    align-items: center;
  }
  .header, .menu, .main{
    width:1000px;
  }
  /*데스크탑 헤더*/
  .header{
    position: relative;
  }
  /*데스크탑 멤버링크*/
  .bar{
    margin:0 0.5em;
  }
  /*데스크탑 로고*/
  .logo{
    width: initial;/*기존값으로 돌아가기*/
    margin:0;
    position: absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);/*정가운데 배치-이동하면서 배치된다*/
  }
  /*데스크탑 검색*/
  .search{
    text-align: right;
  }
  input[type="search"]{
    width: 25em;
  }
  .btn-search{
    border: 1px solid #aaa;
    background: #988574;
    color:#fff;
    height: 3rem;
    padding: 0.15em 1em;
    border-radius: 5px;
  }
  /*데스크탑 내비게이션*/
  .navigation{
    background-color: #988574;
    color:#fff;
    box-shadow: 0 -2px 5px 0 #999, 0 2px 5px 0 #999;
  }
  .btn-menubar{
    display: none;
  }
  .menu, .sub-menu{
    list-style: none;
  }
  .menu{
    margin:0 auto;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    /*overflow: hidden; float:left영향줫을때*/
  }
  .menu-list{
    /*float:left; float:left영향줫을때
    margin-left:60px;*/
    margin:1em 0 0.5em;
  }
  /*float:left를줄때 임의로 여백을주는 효과
  .menu-list:last-child{
    margin-left:0;
  }*/
  .menu-item{
    cursor: text;
    font-weight: 700;
    font-size: 1.8rem;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
  }
  .menu-list::before, .menu-item{
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
  }
  .sub-menu{
    font-weight: 400;
  }
  .sub-menu li{
    margin:0.5em 0;
  }
  .main{
    justify-content: space-between;
  }
  .book{
    width: 320px;
  }
  .news{
    width: 660px;
  }
  .board{
    width:320px;
  }
  .favorite{
    width: 240px;
  }
  .twitter{
    width: 400px;
  }
}