@charset "utf-8";
@import url(./normalize.css);

/*All Device*/
.container{
  background-color:silver; display: flex; flex-flow: row wrap;
}
.header, .navigation, .main, .footer{
  width:100%;
}
.header{
  background-color: yellowgreen; height:10vh;
}
.navigation{
  background-color: pink;
  height:20vh;
}
.main{
  background-color: skyblue;
  height:60vh;
  display:flex;
  flex-flow: row wrap;
}
.book, .news, .board, .favorite, .twitter{
  width:100%;
}
.book{
  background-color: blueviolet;
}
.news{
  background-color:orangered;
}
.board{
  background-color: teal;
}
.favorite{
  background-color: goldenrod;
}
.twitter{
  background-color: aqua;
}
.footer{
  background-color: purple;
  height:10vh;
}

/*mobile device*/
@media screen and (max-width:1000px){
  .favorite, .twitter{
    width: 50%;
    order:-1;
  }
}



/*desktop device*/
@media screen and (min-width:1000px){
  .container{
    flex-direction: column;
    align-items: center;
  }
  .header, .main{
    width:1000px;
  }
  .main{
    justify-content: space-between;
  }
  .book{
    width: 320px;
  }
  .news{
    width: 660px;
  }
  .board{
    width:320px;
  }
  .favorite{
    width: 240px;
  }
  .twitter{
    width: 400px;
  }
}